@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Adicionar Carros</h1>
<form method="post" asp-controller="Carros" asp-action="Create" enctype="multipart/form-data">
<div class="conteiner">
   
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Nome</span>
            <input type="text" class="form-control" name="car_name" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Modelo</span>
            <input type="text" class="form-control" name="car_modelo" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Cor</span>
            <input type="text" class="form-control" name="car_cor" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <h2 style="margin-top: 5vh;">Adicionar Imagens</h2>
        <div class="inputss" style="margin: auto;">
            <div class="input-group" style="align-self: flex-start;">
                <input type="file" name="car_img" class="form-control" required id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" accept="image/*">
            </div>
        </div>
</div>
<div class="btn">
    <a href="/Carros" class="btn btn-primary">Voltar</a>
    <button type="submit" class="btn btn-success">Salvar</button>
</div>
</form>